<header id="menu">
    {{#if isAnonymous}}
        <a href="#/home"  id="linkMenuAppHome">Home</a>
        <a href="#/login" id="linkMenuLogin">Login</a>
        <a href="#/register" id="linkMenuRegister">Register</a>
    {{else}}
        <a href="#/home" id="linkMenuUserHome">Home</a>
        <a href="#/shop" id="linkMenuShop">Shop</a>
        <a href="#/cart" id="linkMenuCart">Cart</a>
        <a href="#/logout" id="linkMenuLogout">Logout</a>

        <span class="useronly" id="spanMenuLoggedInUser">Welcome, {{username}}!</span>
    {{/if}}
</header>


